.add-testimonials-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.upload-image-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
}

.uploaded-img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}
