/* Full Page Center */
.login-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #f5f5f5; /* Optional background */
  width: 100vw; /* Full viewport width */
}

/* Login Card */
.login-card {
  width: 90%; /* Adjusted width */
  max-width: 800px; /* Controls max size */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 500px;
  display: flex;
  position: relative; /* Ensures proper positioning */
}

/* Left Side - Image (Reduced Width) */
.login-image {
  flex: 2;
  max-width: 450px; /* Adjusted width */
  background: linear-gradient(135deg, #170645, #512da8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 90px;
}

.login-image img {
  width: 100%;
  max-width: 250px;
  margin-top: 50px;
}

/* Right Side - Form (Increased Width) */
.login-form {
  flex: 1; /* Increased width */
  background: white;
  padding: 20px;
  margin-top: 50px;
}

.adminlogin{
  color: #170645;
}

.adminloginbutton{
  background-color: #170645;
  color: #ffff;
}

/* Responsive */
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }

  .login-image {
    display: none;
  }

  .login-form {
    flex: 1;
    width: 100%;
  }
}
