.custom-btn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px; /* Default for large screens */
  border: 2px solid white; /* White outline */
  background: transparent; /* No background color */
  color: white; /* Text color */
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
}

/* Responsive Adjustments */

@media (max-width: 1440px) {
  .custom-btn {
    bottom: 120px;
  }
}


@media (max-width: 1024px) {
  .custom-btn {
    bottom: 120px;
  }
}

@media (max-width: 768px) {
  .custom-btn {
    bottom: 110px;
  }
}

@media (max-width: 480px) {
  .custom-btn {
    bottom: 120px;
  }
}
