.values-title {
  font-size: 20px;
  font-weight: bold;
  color: #20CB01;
  margin-top: -50px;
}

.values-title .highlight {
  color: #070759;
}

.careers-section{
  padding-top: 180px;
  padding-bottom: 40px;
}

.our-values-section {
  padding-top: 60px; 
  padding-bottom: 40px;
}

@media (max-width: 1024px) {
  .search-text{
    font-size: 16px!important;
  }
}


@media (max-width: 768px) {

  .career-img-fluid{
    width: 100%;
  }

  .search-text{
    font-size: 16px!important;
  }

}





.who-we-are-section {
  margin-top: 50px;
  padding: 50px 0;
}

.who-we-are-section h2 {
  font-weight: bold;
  text-align: center;
}

.who-we-are-section .text-muted {
  max-width: 600px;
  margin: 0 auto;
}


.who-we-are-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.who-we-are-grid .row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px; 
}


.grid-item {
  width: 100%;  
  max-width: 250px; 
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.who-we-are-grid .col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .who-we-are-grid .row {
    flex-direction: row;
  }

  .grid-item {
    max-width: 180px; 
  }
}





.careers-section {
  text-align: center;
  padding: 50px 0;
}

.open-position {
  color: #5624d0; /* Adjust color as needed */
  font-weight: bold;
}

/* .search-bar input {
  max-width: 250px;
} */

.search-bar {
  max-width: 400px; /* Or any desired width */
  width: 100%;
  margin: 0 auto; /* Optional: center horizontally */
}

.job-list {
  max-width: 800px;
  margin: 0 auto;
  
}

.job-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.job-item:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.job-title {
  font-weight: bold;
}

.arrow {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


.who-we-are-image img {
  background: transparent !important;
}

.who-we-are-image {
  padding: 0;
  margin: 0;
  background: none!important;
}

/* .careers-image-container img,
.who-we-are-image img {
  mix-blend-mode: multiply; 
} */

.who-we-are-image,
.who-we-are-image img,
.who-we-are-section,
.who-we-are-grid {
  background: none !important;
  box-shadow: none !important;
}




.apply-section {
  text-align: center;
  margin-top: 90px;
}

.step-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  transition: all 0.3s ease;
}

.step-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.step-badge {
  background: #F48616;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}


.customsearchbutton{
  background-color: #F48616;
  color: white;
}


@media (min-width: 425px) {

.apply-right-section{
  margin-left: 30px;
}

}

@media (max-width: 320px) {

  .apply-right-section{
    margin-left: -20px;
  }
  
  }

