

.enroll-section {

  background: linear-gradient(to bottom, #170645 0%, #3B14A6 50%, #2F52DE 100%);
  padding: 60px 0;

}



.enroll-image {

  max-width: 100%;
  height: 400px;
  margin-top: -150px;
  margin-bottom: -60px;
}



.enroll-text {

  color: white;

  text-align: right;

  padding: 20px;

}



.enroll-description {

  font-size: 20px;

  margin-bottom: 20px;

}



.enroll-button {

  /* background-color: white; */
  background-color: #F48616;

  color: #ffff;

  font-weight: bold;

  padding: 12px 20px;

  border: none;

  border-radius: 8px;

  transition: all 0.3s ease-in-out;

}



.enroll-button:hover {

  background-color: #eee;

}

@media (max-width: 1024px) { 
  .enroll-image {
    margin-top: 0px;
    margin-bottom: -85px;
  }
}


@media (max-width: 768px) { 
  /* .enroll-image {
    margin-top: -120px; 
    margin-bottom: -165px; 
    width: 100% !important;
    height: 300px !important;
  }
  .enroll-section {
    padding: 0px 0;
  } */

  .enroll-image {
    margin-top: -40px; 
    margin-bottom: -80px;
    width: 100% !important;
    height: 350px !important; 
    object-fit: contain;
  }

  .enroll-section {
    padding: 0px 0;
  }

  .enroll-section .row {
    flex-direction: row !important;
}

.enroll-text {

  color: white;

  text-align: center;

  padding: 20px;

}

.enroll-description {
  
  font-size: 16px;
}

}


@media (max-width: 576px) { 

  .enroll-description{
    margin-top: 0px;
  }

  /* .enroll-image {
    margin-top: -5px;
    margin-bottom: -15px;
    width: 100% !important;
  } */

  .enroll-image {
    margin-top: -90px;
    margin-bottom: -80px;
    width: 100% !important;
    height: 400px !important; 
    object-fit: contain;
  }

}


@media (max-width: 320px) { 

  .enroll-description{
    margin-top: -20px;

  }



}











