.payment-header {
  background-color: #e3ecff;
  font-weight: 600;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.payment-card {
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  padding: 10px 16px;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.payment-card:hover {
  background-color: #f8f9fa;
  border-color: #000;
}

.payment-card.active {
  background-color: transparent; /* Or keep it same as parent */
  border: none;
  box-shadow: none;
}

.payment-card .form-check-input {
  margin-right: 12px;
}

/* Optional: Prevent overflow on small screens */
@media (max-width: 768px) {
  .payment-card-wrapper {
    overflow: hidden;
    
  }

  .payment-details {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 575px) {
  .payment-card-wrapper {
   
    width: 300px;
  }

}

/* .payment-card-wrapper {
  border: none
  
  
}

.payment-details {
  margin-top: 1rem;
} */


@media (max-width: 768px) {
  .payment-details {
     
      margin-left: 30px;
  }

  .upi-section{
    margin-left: 30px;
  }

  /* .subscription-button{
    width: 50%;
  } */
}


