/* Adjust image size on mobile & tablet */
.sports-image {
  max-width: 60%;
  border-radius: 12px;
}


@media (max-width: 992px) {
  .sports-image {
    max-width: 60%;
  }
}

@media (max-width: 576px) {
  .sports-image {
    max-width: 60%;
  }
}


@media (max-width: 768px) {
  .sports-image {
    width: 40% !important;
    border-radius: 12px;
  }

  .getmore-btn{
  justify-content: center !important;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 93.33333333%;
}

.training-text-muted {
  text-align: justify;
}


}

@media (min-width: 320px) and (max-width: 642px){
  .sports-training{
    display: block !important;
  }

}



